vendor
node_modules
.git
.env
.env.*
!.env.example
storage/*.key
storage/logs
storage/framework/cache
storage/framework/sessions
storage/framework/views
database/*.sqlite
.phpunit.cache
tests
bootstrap/cache/*.php
